html {
    --inner-background-color: var(--background);
    --outer-background-color:
        color(var(--foreground) blend(var(--background) 20%));
    margin: 0;
    padding: 0;
}

body {
    margin: 0.15rem;
    padding: 0.15rem;
}

.outer { }

.inner { }
