html {
    --dark-error-link: #00000018;
    --error-background: color(var(--redish) blend(var(--background) 30%));
    --light-error-link: #ffffff18;
}

body {
    margin: 0;
    padding: 0;
}

.light div.error a {
    background-color: var(--light-error-link);
}

.dark div.error a {
    background-color: var(--dark-error-link);
}

.hook {
    border-left: 0.5rem solid var(--error-background);
    border-top: 0.4rem solid transparent;
    height: 0;
    width: 0;
}

div.error {
    background-color: var(--error-background);
    border-radius: 0 0.2rem 0.2rem 0.2rem;
    margin: 0 0 0.2rem;
    padding: 0.4rem 0 0.4rem 0.7rem;
}

div.error .message {
    padding-right: 0.7rem;
}

div.error a {
    border-radius: 0 0.2rem 0.2rem 0;
    bottom: 0.05rem;
    font-weight: bold;
    padding: 0.35rem 0.7rem 0.45rem 0.8rem;
    position: relative;
    text-decoration: inherit;
}
