/*D We use a couple of HTML tags. We chose short tags because it makes the
 *D files/strings significantly shorter than using long descriptive names. Here
 *D are their meanings:
 *D
 *D \starttabulate[|rT|l|]
 *D   \NC <c> \NC control sequence \type{\...} \NC\NR
 *D   \NC <o> \NC optional argument \NC\NR
 *D   \NC <n> \NC number \NC\NR
 *D   \NC <k> \NC key, as in \type{key=value} \NC\NR
 *D   \NC <e> \NC equals, as in \type{key=value} \NC\NR
 *D   \NC <t> \NC type name, e.g.\ \type{CSNAME} means a control sequence
 *D               name \NC\NR
 *D   \NC <d> \NC default value \NC\NR
 *D   \NC <i> \NC inherits, styles the bit of text \quote{inherits:} in
 *D               \type{inherits: \...} \NC\NR
 *D   \NC <s> \NC scoping, a.k.a.\ delimiters, i.e.\ the brackets \type{[]} in
 *D               \type{[...]}; also covers braces \type{{...}} and any other
 *D               delimiters \NC\NR
 *D \stoptabulate
 *D
 *D With the \type{<i>} tag, bear in mind that it will have the default
 *D behaviour of italicizing things. Better would be to modify the code and use
 *D another letter.
 *D
 *D We would like to be able to, for example, style the \type{<c>} tag in the
 *D same way as the current colour scheme styles the scope
 *D \type{support.function}. Unfortunately, there doesn't seem to be any easy
 *D way to do this \quote{out||of||the||box} in Sublime Text. Hmm.
 */

html {
    --inner-background-color: var(--background);
    --outer-background-color:
        color(var(--foreground) blend(var(--background) 20%));
}

html, body {
    margin: 0rem;
    padding: 0rem;
}

/*D We use this approach with an \quote{outer} and an \quote{inner} element to
 *D get a border around the pop||ups. There is probably a better way, but I'm
 *D not that fluent in CSS.
 */
div.outer {
    display: block;
    background-color: var(--outer-background-color);
    padding: 0.1rem;
    margin: 0rem;
}

div.inner {
    display: block;
    background-color: var(--inner-background-color);
    padding: 0.5rem;
    margin: 0.1rem;
}

div.popup o {
    font-style: italic;
}

div.popup d {
    text-decoration: underline;
}
